.title {
    padding-right: 50px;
    background-color:white;
  }
  
  .title h3{
    margin: 0;
    color: #81C200;
  }
  
  .rating{
    display: flex;
    align-items: center;
  }
  
  .title  button {
        background: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        padding : 0px;
  }
  .title  h4{
        margin: 0 0 0 12px;
        font-size: 17px;
        font-weight: 500;
        position: relative;
        bottom: -3px;
        color: #81C200;
  }
  .title  p{
        font-weight: 500;
        color: #555555;
    }
  
  
   .statistic {
                display: flex;
                align-items: center;
                color: #0081C2;
                &:not(.has-rate){
                    color: #767676;
                }
  
                &+.statistic {
                    margin-top: 8px;
                }
  }
  .label {
    flex: 0 0 72px;
    font-weight: 500;
  }
  .value {
    flex: 0 0 50px;
    text-align: right;
    font-weight: 500;
  }
  .progress-bar {
    flex: 1;
    position: relative;
    height: 22px;
    background: #F3F3F3;
    border-radius: 2px;
    box-shadow: inset 0px 0px 0px 1px #D5D5D5, inset 0px 3px 6px 1px rgba(151, 151, 151, 0.4);
    
  }
  .bar{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(180deg, #FFCB00 1%, #FEAF01 100%);
    box-shadow: inset 0px 0px 0px 1px #B17704;
  }